html {


body {
	font-size: 100%;
		font-family: 'Oswald', sans-serif;
	color: #000;
	background color: 93a1a1;
	margin-bottom: 350px;
}

h1 {
	font-size: 1.25em;
	line-height: 2em;
	margin-bottom: 1em;
}

h2 {
	font-size: 1em;
	line-height: 2em;
}

p {
	font-size: 1em;
	line-height: 2em;
	margin-bottom: 1.75em;

a:hover {
	color: #598f75;


